In [32]:
import pandas as pd
import numpy as np

In [7]:
from bayesian_optimiser_example import BayesianRuleOptimiser
from rule_optimisation.optimisation_functions import FScore

In [8]:
# For optimisation function, we'll use F1 score in this example (from ARGO, as it's faster than sklearn's)
f1 = FScore(1)

In [9]:
bo = BayesianRuleOptimiser(rule_list=[], rule_features_list=[], opt_func=f1.fit, n_iter=30)

In [10]:
df_test = pd.read_csv('X_dummy.csv',dtype={'float_var_with_nulls': 'float', 'int_var_with_nulls': 'Int64', 'bool_var_with_nulls': 'boolean', 'string_var_with_nulls': str})

In [11]:
df_test

,float_var_with_nulls,int_var_with_nulls,bool_var_with_nulls,string_var_with_nulls,float_var_no_nulls,int_var_no_nulls,bool_var_no_nulls,string_var_no_nulls
0,0.1,1,True,'maybe',0.1,1,True,'maybe'
1,NaN,2,True,'no',0.2,2,True,'no'
2,0.1,<NA>,True,'yes',0.1,3,True,'yes'
3,0.1,1,<NA>,'yes',0.1,1,False,'yes'
4,0.1,1,True,NaN,0.1,1,True,'maybe'
5,0.1,1,False,'no',0.1,1,False,'no'
6,0.1,1,False,'no',0.1,1,False,'no'
7,0.1,1,True,'yes',0.1,1,True,'yes'
8,0.1,1,True,'maybe',0.1,1,True,'maybe'

In [12]:
df_test.isna()

,float_var_with_nulls,int_var_with_nulls,bool_var_with_nulls,string_var_with_nulls,float_var_no_nulls,int_var_no_nulls,bool_var_no_nulls,string_var_no_nulls
0,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False
4,False,False,False,True,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False

In [46]:
bo._return_column_dtypes(df_test)

(['int_var_with_nulls', 'int_var_no_nulls'],
 ['float_var_with_nulls', 'float_var_no_nulls'],
 ['bool_var_with_nulls', 'bool_var_no_nulls'],
 ['string_var_with_nulls', 'string_var_no_nulls'])

In [14]:
df_test_no_force_dtype = pd.read_csv('X_dummy.csv')

In [15]:
df_test_no_force_dtype.dtypes

float_var_with_nulls     float64
int_var_with_nulls       float64
bool_var_with_nulls       object
string_var_with_nulls     object
float_var_no_nulls       float64
int_var_no_nulls           int64
bool_var_no_nulls           bool
string_var_no_nulls       object
dtype: object

In [17]:
pd.api.types.is_bool_dtype(df_test_no_force_dtype['bool_var_with_nulls'])

False

In [19]:
df_test_no_force_dtype['bool_var_with_nulls']==True

0     True
1     True
2     True
3    False
4     True
5    False
6    False
7     True
8     True
Name: bool_var_with_nulls, dtype: bool

In [47]:
bo._return_column_dtypes(df_test_no_force_dtype)

(['int_var_no_nulls', 'int_var_with_nulls'],
 ['float_var_with_nulls', 'float_var_no_nulls'],
 ['bool_var_no_nulls', 'bool_var_with_nulls'],
 ['string_var_with_nulls', 'string_var_no_nulls'])

In [21]:
df_test_no_force_dtype.select_dtypes(include='object')

  bool_var_with_nulls string_var_with_nulls string_var_no_nulls
0                True               'maybe'             'maybe'
1                True                  'no'                'no'
2                True                 'yes'               'yes'
3                 NaN                 'yes'               'yes'
4                True                   NaN             'maybe'
5               False                  'no'                'no'
6               False                  'no'                'no'
7                True                 'yes'               'yes'
8                True               'maybe'             'maybe'

In [22]:
pd.api.types.is_bool_dtype(df_test_no_force_dtype['bool_var_with_nulls'].fillna(False))

True

In [23]:
pd.api.types.is_bool_dtype(df_test_no_force_dtype['string_var_with_nulls'].fillna(False))

False

In [24]:
pd.api.types.is_bool_dtype(df_test_no_force_dtype['string_var_with_nulls'].fillna(False))

False

In [25]:
df_test.dtypes

float_var_with_nulls     float64
int_var_with_nulls         Int64
bool_var_with_nulls      boolean
string_var_with_nulls     object
float_var_no_nulls       float64
int_var_no_nulls           int64
bool_var_no_nulls           bool
string_var_no_nulls       object
dtype: object

In [36]:
from argo_utils.argo_utils import return_columns_types

In [37]:
# X.select_dtypes(include=np.number)

In [38]:
# X.select_dtypes(include=[np.number, bool])

In [39]:
# return_columns_types(X.select_dtypes(include=[np.number, bool]))

In [40]:
arr = pd.array([1, 2, None], dtype=pd.Int64Dtype())

In [41]:
df = pd.DataFrame(arr)

In [42]:
df.dtypes

0    Int64
dtype: object

In [43]:
df.to_numpy(na_value=np.nan)[:,0]

array([1, 2, nan], dtype=object)

In [44]:
df.values[:,0]

array([1, 2, <NA>], dtype=object)

In [45]:
pd.Series([True, False, np.nan])

0     True
1    False
2      NaN
dtype: object